services:
  scraper:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: notion-scraper:dev
    container_name: go_notion_scraper_dev
    volumes:
      - .:/app
    env_file:
      - .env
    tty: true
    dns:
      - 8.8.8.8
      - 8.8.4.4