services:
  scraper:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: notion-scraper:prod
    container_name: go_notion_scraper_prod
    
    environment:
      - NOTION_TOKEN=${NOTION_TOKEN}
      - DATABASE_ID=${DATABASE_ID}
      - NTFY_TOPIC=${NTFY_TOPIC}
    
    restart: always

# Roda o modo producao (compila, gera binario leve e sobe)
# docker compose -f docker-compose.prod.yml up --build -d